.env
homeassistant/config/*
!homeassistant/config/.gitkeep
!homeassistant/config/configuration.yaml
tailscale/state/*
!tailscale/state/.gitkeep
tailscale/config/serve.json
!tailscale/config/serve.example.json
.DS_Store
